* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  border: 0;
  font-family: var(--ff);
  font-weight: 400;
}
:root {
  --white: #f3f3f3;
  --ff: "Fustat", sans-serif;
  --gray

}
.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
