.header {
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../img/bg.png) no-repeat center bottom / cover;
}
.header__nav {
  padding: 22px 0px;
  backdrop-filter: blur(10px);
  border-bottom: ;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-logo {
  font-family: "Fustat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 90%;
  color: var(--white);
}
.header__nav-list_item-link .header__nav-tel {
  font-family: Fustat;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 90%;
  transition: 0.3s;
}
.header__nav-list_item-link:hover .header__nav-tel:hover,
.header__nav-logo:hover {
  color: var(--gray);
}
.banner {
  flex: 2 0 auto;
}
.banner__wrap {
  display: flex;
  align-items: center;
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 706px;
  width: 100%;
}
.banner__content-desc {
  display: flex;
  flex-direction: ;
}
.banner__content-desc_slogan {
  font-family: "Fustat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--gray);
}
