.header {
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  background: url(../img/bg.png) no-repeat center bottom / cover;
}

.header__nav {
  padding: 22px 0;
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--white);
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-logo {
  font-family: var(--ff);
  font-weight: 700;
  font-size: 24px;
  line-height: 90%;
  color: var(--white);
  transition: 0.3s;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 60px;
}

.header__nav-list_item-link,
.header__nav-tel {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16px;
  line-height: 90%;
  color: var(--white);
  transition: 0.3s;
}

.header__nav-list_item-link:hover,
.header__nav-tel:hover,
.header__nav-logo:hover {
  color: var(--gray);
}

.banner {
  flex: 2 0 auto;
}

.banner__wrap {
  display: flex;
  align-items: center;
}
.banner__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 706px;
  width: 100%;
}

.banner__title {
  font-family: var(--ff);
  font-weight: 300;
  font-size: 64px;
  line-height: 90%;
  color: var(--white);
  font-size: clamp(1.875rem, 1.245rem + 3.15vw, 4rem);
}

.banner__content-desc {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.banner__content-desc_slogan {
  font-family: var(--ff);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--gray);
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}
body {
  min-width: 320px;
  background: var(--bg);
  color: var(--white);
}
button {
  background: transparent;
}
.about {
  padding: 140px 0 162px;
}
.about__wrap {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.about__content {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  max-width: 445px;
  width: 100%;
}
.about__content-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about__content-desc {
  font-family: var(--ff);
  font-weight: 500px;
  font-style: Light;
  font-size: 16px;
  color: var(--gray);
  max-width: 304px;
  width: 100%;
}
.about__content-btm{
  display: flex;
align-items: center;
justify-content: space-between;
}
.about__img{
  max-width: 540px;
  width: 100%;
}
 .about__img img{
  width: 100%;
  height: 100%;
 }
@media screen and (max-width: 992px) {
  .header__wrap {
    flex: wrap;
    gap: 20px;
    justify-content: space-around;
  }
  .header__nav-list {
    order: 10;
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: auto;
  }
  .header__nav {
    background: var(--bg);
  }
  .header__wrap {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .header__nav-list {
    order: unset;
    flex-direction: column;
    gap: 20px;
  }
  .banner {
    height: 100svh;
  }
}
@media screen and (max-width: 567px) {
  .banner__content {
    max-width: none;
  }
  .banner__title {
    text-align: center;
    line-height: 110%;
  }
  .banner__content-desc {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width:768px){
  .about__wrap{
    display: flex;
    flex-direction: column;
  }
  .about__content{
    max-width: none;
  }
  .about__content-desc{
    max-width: none;
  }
  .about__img{
    max-width: none;
  }
  .about__content-btm{
    justify-content: flex-start;
  }
}
